<script>
//    $(document).ready(function(){
//        if (location.href.indexOf('latitude') < 0)
//            getLocation();
//    });
</script>

<table>
    <% @events.each do |e| %>
        <tr id="<%= e.identifier %>">
          <td>
            <% if e.raw_attributes['cover']  %>
                <img src="<%= e.raw_attributes['cover']['source'] %>" alt="photo"/>
            <% end %>
            <h3><%= link_to e.name, "https://facebook.com/#{e.identifier}" %></h3>
            <%= e.description[0..30] if e.description %>
            <%= e.start_time %>
            <a href="#" onclick="Application.hide_event(<%= e.identifier %>)"><span class="glyphicon glyphicon-thumbs-down" style="font-size:30px"></span></a>
          </td>
        </tr>
    <% end %>
</table>